@{
    ViewBag.Title = "Ana Sayfa";
}
<img src="https://samsun.edu.tr/wp-content/uploads/2023/02/mavi-logo-yatay.png">
<h2>Hoş Geldiniz!</h2>

<p>Bu bir örnek MVC web uygulamasıdır.</p>
<p>Lütfen menüden navigasyon yapın veya yeni öğretmen ve dersler ekleyin.</p>

<a href="@Url.Action("Login", "Home")" class="btn btn-primary">Öğretmen Girişi</a>
